# Nestjs specific


/be_nestjs/build
/be_nestjs/tmp
/fe_reactjs/build
/fe_reactjs/tmp
/be_nestjs/dist
/be_nestjs/node_modules
/fe_reactjs/node_modules
/fe_reactjs/dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
